{% extends "layout.html" %}
{%block title%}
Theories
{%endblock%}
{% block content %}
  <h1>Theory List</h1>
    {% for concept in chapter.concepts.all%}
      <table class="theorylist">
        <caption> <strong>{{concept.name}}</strong> </caption>
      {%for subConcept in concept.subConcepts.all%}
      <tr>
        <td class="theorylistsubconcept">{{subConcept.name}} </td>
        <td class="theorylistlink">
          {% if subConcept.isTheory %}
            <a href="{{ subConcept.get_theory_update_url }}">edit Theory</a> 
        </td>
        <td class="theorylistlink">
            <a href="{{ subConcept.get_theory_easy_url }}">{% if  subConcept.isEasyFilled %}Edit Easy Examples {%else%} Add Easy Examples {%endif%}</a>
        </td>
        <td class="theorylistlink">
            <a href="{{ subConcept.get_theory_medium_url }}">{% if  subConcept.isMediumFilled %}Edit Medium Examples {%else%} Add Medium Examples {%endif%}</a>
        </td>
        <td class="theorylistlink">
            <a href="{{ subConcept.get_theory_hard_url }}">{% if  subConcept.isHardFilled %}Edit Hard Examples {%else%} Add Hard Examples {%endif%}</a>
        </td>
        <td class="theorylistlink">
            <a href="{{ subConcept.get_theory_view_url}}">show</a>
        </td>
          {%else%}
            <a href="{{subConcept.get_theory_add_url}}">add Theory</a></td>
          {%endif%}
      {% endfor %}
      </tr>
      </table>
      <br><br>
    {% endfor %}
{% endblock %}

{% block style %}
<style>
table.theorylist{
  width: 50%;
}
.theorylist caption{
  caption-side: top;
}
table.theorylist tr{
  width:50%;
  border: 1px solid black;
}
td.theorylistsubconcept {
  border: 1px solid black;
  width:75%;
}
td.theorylistlink {
  text-align: center;
  border: 1px solid black;
  width:25%;
}
</style>

{% endblock %}