{% extends "layout.html" %}
{%block title%}
Theories
{%endblock%}
{% block content %}
  <h1>Proof Read Theory</h1>
  {%if theory_list%}
  <table class="theorylist">
    <tr>
        <th>Chapter</th>
        <th>Concept</th>
        <th>SubConcept</th>
        <th>Preview</th>
    </tr>
    {%for theory in theory_list%}
    <tr>
        <td>{{theory.subConcept.concept.chapter.name}}</td>
        <td>{{theory.subConcept.concept.name}}</td>
        <td>{{theory.subConcept.name}}</td>
        <td><a href="{{theory.get_absolute_url}}">show</a></td>
    </tr>
    {%endfor%}
  </table>
  {%else%}
    <p><strong>There are No theorys</strong></p>
  {%endif%}
{% endblock %}

{% block style %}
<style>
table.theorylist{
  width: 50%;
}
.theorylist caption{
  caption-side: top;
}
table.theorylist tr{
  width:50%;
  border: 1px solid black;
}
td.theorylistsubconcept {
  border: 1px solid black;
  width:75%;
}
td.theorylistlink {
  text-align: center;
  border: 1px solid black;
  width:25%;
}
</style>

{% endblock %}