{% extends "layout1.html" %}
{% load crispy_forms_tags %}
{%block title%}
Home
{%endblock%}
{% block content %}
  <h2>Create User</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field|as_crispy_field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger">Create</button>
    <p>{{ message }}<p>
  </form>
{% endblock %}

{% block script %}
<script>
    $("#id_username").change(function(){
        var id = this.value;
        $.ajax({
                url: "{% url 'loaduser' %}", 
                data: {
                    'id' : id
                },
                success: (data)=> { 
                    console.log($("#id_can_add_theory").value);
                    $("#id_can_add_theory").prop('checked',data['add_theory']);
                    $("#id_can_edit_theory").prop('checked',data['edit_theory']);
                    $("#id_can_see_theory").prop('checked',data['see_theory']);
                    $("#id_can_add_tag").prop('checked',data['add_tag']);
                    $("#id_can_see_tag").prop('checked',data['see_tag']);
                    $("#id_can_add_cross").prop('checked',data['add_cross']);
                    $("#id_can_see_cross").prop('checked',data['see_cross']);
                }
            });
    });
</script>
{% endblock %}