{% extends "layout1.html" %}
{% load crispy_forms_tags %}
{%block title%}
Create User
{%endblock%}

{% block content %}
  <h2>Create User</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field|as_crispy_field }}
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-danger">Create</button>
    <p>{{ message }}<p>
  </form>
{% endblock %}
{% block script %}
<script>
  $(document).ready(()=>{
    var flag= {{isCreated}};
    var message="";
    message=`{{message}}`;
    if(flag == 1)
      alert(message);
    $('#id_subject').val("");
    $('#id_chapter').empty();
    $('#id_subject').change(()=>{
            $('#id_chapter').empty()
            $.ajax({
                url: "{% url 'ajaxLoadChapters' %}", 
                data: {
                    'subject' : $('#id_subject').val()
                },
                success: (data)=> {  
                    $('#id_chapter').html(data);
                }
            });
        })
  })
</script>
{% endblock %}