{% extends "layout1.html" %}

{%block title%}
Super User
{%endblock%}

{% block content %}
<h1>User List</h1>
{% if user_list %}
  <table class="table table-bordered table-hover table-responsive-xl">
    <thead class="thead-dark">
      <tr>
          <th>User ID</th>
          <th>Username</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Subject</th>
          <th>Chapter</th>
      </tr>
    </thead>
    {% for user in user_list %}
    {% if user.is_superuser %} <tr class="table-warning"> {% else %} <tr class="table-light"> {% endif %}
            <td>{{user.pk}}</td>
            <td>{{user.username}}</td>
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.subject}}</td>
            <td>{{user.chapter}}</td>
        </tr>
    {% endfor %}
 </table>
<style>
</style>
{% else %}
  <p>There are no User in the library.</p>
{% endif %} 
{% endblock %}